@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(0, 0, 0);
  color: white;
  font-family: 'Inconsolata', monospace;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.title {
  margin-top: 4rem;
  font-size: 4rem;
  color: white;
  text-align: center;
}

.copyright {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.date {
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.text {
  font-size: 1.4rem;
  line-height: 2rem;
  color: white;
  text-align: center;
}

img {
  height: 100vh;
  width: 100%;
}

.loading {
  margin: 0 auto;
  margin-top: 10rem;
  font-size: 2rem;
  text-align: center;
}

/* ======================= MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 600px) {
  body {
    width: 80%;  
    display: flex;
    flex-flow: column wrap;
  }
  img{
    width: 100%;
    height: 50vh;
    border: none;
    border-radius: none;
    box-shadow: none;
  }
  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: none;
    gap: none;
    width: 100%;
  }
  .title {
    margin-top: none;
    font-size: 4rem;
    border-radius: none;
    color: white;
    width: 100%;
    text-align: center;
  }
  .copyright {
    font-size: 2rem;
  
    color: white;
  }
  .date {
    font-size: 1.2rem;
    color: white;
  }
  
  .text {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 80%;
    width: 80%;
    color: white;
    text-align: justify;
}

.loading {
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: left;
}
}